/* Write your CSS here 
pending 1


*/

.event-item {
  width: 90%;
  list-style: none;

  margin-right: 24px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .event-item {
    width: 45%;
  }
}

.event-button {
  background-color: transparent;
  padding: 0px;

  border: none;
  outline: none;
  cursor: pointer;
}

.event-image {
  width: 100%;
  max-width: 460px;

  border: 2px solid transparent;
  border-radius: 8px;
}

.active {
  border: 2px solid #2dd4bf;
  border-radius: 10px;
}

.dance-name {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 24px;

  margin: 0px;
  margin-top: 12px;
}

.location-name {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;

  margin: 0px;
  margin-top: 4px;
}
